[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/RunPE-X86--X64-"]
	path = external/RunPE-X86--X64-
	url = https://github.com/Paulo-D2000/RunPE-X86--X64-.git
